<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/88225b2944.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title>Vintage | Iniciar Seción</title>
</head>

<body>
    <header>
        <nav>
            <ul>
                <li class="logo"><span class="celeste">Vin</span>tage</li>
                <li class="btn"><span class="fas fa-bars"></span></li>
                <div class="items">
                    <li><a href="/">Home</a></li>
                    <li><a href="#buscado">Productos</a></li>
                    <li><a href="/registro">Registrate</a></li>
                    <li><a href="/inicio-sesion">Ingresar</a></li>
                    <li><a href="/carrito"><i class="fas fa-shopping-cart"></i></a></li>
                </div>
                <form action="procesar.php" method="POST">
                    <li class="search-icon">
                        <input type="search" placeholder="Search">
                        <label>
                            <button class="icon"><span class="fas fa-search"></span></button>
                        </label>
                    </li>
                </form>
            </ul>
            <script>
                $('nav ul li.btn span').click(function () {
                    $('nav ul div.items').toggleClass("show");
                    $('nav ul li.btn span').toggleClass("show");
                });
            </script>
        </nav>
    </header>
    <main class="login2">
        <section class="inicio-secion2"> 
            <input type="checkbox" id="click">
            <label for="click" class="chatsito">
                <i class="fab fa-facebook-messenger"></i>
                <i class="fas fa-times"></i>
            </label>
            <div class="box2">
                <div class="head-text">
                    Querés Hablar? - Online</div>
                <div class="chat-box">
                    <div class="desc-text">
                        Por favor este chat es para uso comercial, no incurra en cualquier tipo de violencia</div>
                    <form action="#" method="GET">
                        <div class="field">
                            <input type="text" placeholder="Nombre" required>
                        </div>
                        <div class="field">
                            <input type="email" placeholder="Email" required>
                        </div>
                        <div class="field textarea">
                            <changeit cols="30" rows="10" placeholder="Explain your queries.." required></changeit>
                        </div>
                        <div class="field">
                            <button type="submit">Iniciar Chat</button>
                        </div>
                    </form>
                </div>
            </div>
            <section class="login">
                <form class="formulario" action="#" method="GET">
                 <div class="contenedor-login">
                     <h1>Login</h1>
                     <div class="input-contenedor">
                     <i class="fas fa-envelope icon"></i>
                     <input type="text" placeholder="Correo Electronico">
                     
                     </div>
                     
                     <div class="input-contenedor">
                    <i class="fas fa-key icon"></i>
                     <input type="password" placeholder="Contraseña">
                     
                     </div>
                     <input type="submit" value="Iniciar Seción" class="button">
                     <p>Al registrarte, aceptas nuestras Condiciones de uso y Política de privacidad.</p>
                     <p>¿No tienes una cuenta? <a class="link" href="/registro">Registrate </a></p>
                 </div>
                </form>
            </section>
        </section>
        
    </main>
</body>

</html>